In [196]:
print('hello world')

hello world

In [197]:
#lists

courses = ['hist', 'math', 'phys', 'compsci']

In [198]:
#directory lists out all helper/magic methods
dir(courses)


#these methods help do specific tasks faster

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [199]:
#helper method being called as a function
courses.__add__(['polysci'])

['hist', 'math', 'phys', 'compsci', 'polysci']

In [200]:
#helper method being called as the symbol
courses + ['geo']

['hist', 'math', 'phys', 'compsci', 'geo']

In [201]:
len(courses)

4

In [202]:
courses[0-(len(courses)-1)]

'math'

In [203]:
print(courses)
courses.insert(0,'geometry')
print(courses)

['hist', 'math', 'phys', 'compsci']
['geometry', 'hist', 'math', 'phys', 'compsci']

In [204]:
electives = ['art', 'wrestling']

In [205]:
print(courses)
courses.extend(electives)
print(courses)

['geometry', 'hist', 'math', 'phys', 'compsci']
['geometry', 'hist', 'math', 'phys', 'compsci', 'art', 'wrestling']

In [206]:
courses.insert(0,electives) #adds the actual list bc the list is the element
print(courses)

[['art', 'wrestling'], 'geometry', 'hist', 'math', 'phys', 'compsci', 'art', 'wrestling']

In [207]:
sat_scores = [1600, 2350, 2280, 2390]
act_scores = [36,35,33,31,34]

In [208]:
'''

APPEND - DIRECTLY ADDS ELEMENTS TO THE LIST, IT WILL ADD THE ENTIRE LIST AS THE LAST ELEMENT OF THE TARGET LIST

EXTENDS - ADD'S EACH ELEMENT IN THE LIST AS A NEW ELEMENT TO THE TARGET LIST

'''

"\n\nAPPEND - DIRECTLY ADDS ELEMENTS TO THE LIST, IT WILL ADD THE ENTIRE LIST AS THE LAST ELEMENT OF THE TARGET LIST\n\nEXTENDS - ADD'S EACH ELEMENT IN THE LIST AS A NEW ELEMENT TO THE TARGET LIST\n\n"

In [209]:
#sat_scores.append(act_scores)
print(sat_scores)

[1600, 2350, 2280, 2390]

In [210]:
sat_scores.extend(act_scores)
print(sat_scores)

[1600, 2350, 2280, 2390, 36, 35, 33, 31, 34]

In [211]:
'''
nest = ['1d', ['2d'], [['3d'],'3d-1']]

hi = []

'''

"\nnest = ['1d', ['2d'], [['3d'],'3d-1']]\n\nhi = []\n\n"

In [212]:
'''
hi.append(next)
print(hi)
'''

'\nhi.append(next)\nprint(hi)\n'

In [213]:
'''
hi.extend(next)
print(hi)
'''

'\nhi.extend(next)\nprint(hi)\n'

In [214]:
letters = ['a','b','c', 'd','e', 'f','g']

In [215]:
print(courses)

[['art', 'wrestling'], 'geometry', 'hist', 'math', 'phys', 'compsci', 'art', 'wrestling']

In [216]:
courses.remove(courses[0])

In [217]:
print(courses)

c2 = courses

['geometry', 'hist', 'math', 'phys', 'compsci', 'art', 'wrestling']

In [218]:
srt_crs = sorted(courses)
print(srt_crs)

['art', 'compsci', 'geometry', 'hist', 'math', 'phys', 'wrestling']

In [219]:
'''
sorted() - the sorted function is an instantaneous change - it does not change the value of the actual variable

.sort() - the sorted function is a change to the actual variable -> it will change the variable from that point 
on
'''


# this is basically calling the sorted class
sorted(c2)

#these are basically calling the sorting method of the INT class
#these two mean the same thing
c2.sort()
c2.sort(reverse=False)

#this means reverse the sort aka decending vs ascending
c2.sort(reverse=True)
print(c2)

['wrestling', 'phys', 'math', 'hist', 'geometry', 'compsci', 'art']

In [220]:
sat_scores

[1600, 2350, 2280, 2390, 36, 35, 33, 31, 34]

In [221]:
print( min(sat_scores), max(sat_scores), sum(sat_scores))

31 2390 8789

In [222]:
c2

['wrestling', 'phys', 'math', 'hist', 'geometry', 'compsci', 'art']

In [223]:
c2.index('phys') # returns 2
#c2.index('physics')# returns ValueError ; no 'physics' only 'phys'
'phys' in c2

True

In [224]:
'''
LOOPING SECTION
'''

'\nLOOPING SECTION\n'

In [225]:
for item in courses:
    print(item)

wrestling
phys
math
hist
geometry
compsci
art

In [226]:
for ind,crs in enumerate(courses, start=1):
    print(ind,crs)

1 wrestling
2 phys
3 math
4 hist
5 geometry
6 compsci
7 art

In [227]:
# JOIN ---> turns a list into a str
# SPLIT ---> turns a str into a list

In [228]:
#Covert list to CSV or any delimiter

string_course = ', '.join(c2)
string_course_add = 'geos, bio, chem, algos'

total_string = string_course+', '+string_course_add
print(total_string)

total_list = total_string.split(',')
print(sorted(total_list))

wrestling, phys, math, hist, geometry, compsci, art, geos, bio, chem, algos
[' algos', ' art', ' bio', ' chem', ' compsci', ' geometry', ' geos', ' hist', ' math', ' phys', 'wrestling']

In [229]:
'''
tuples ---> NOT mutable | [] - notation
lists ---> mutable | () - notation
sets ---> non repetitve values ; and great for set theory; i.e. intersection, difference, union etc.
'''

empty_list = []
empty_list = list()

empty_tup = ()
empty_tup = tuple()

empty_set = {} # THIS IS THE WRONG WAY OF CREATING AN EMPTY SET ; THIS IS A DICT
empty_set = set() #note you still use a 


#these are fixed
kendra = (1,4,7,10)
kona = (1,5,9)

In [230]:
empty_set.add('math')
empty_set.add('hist')
empty_set.add('art')

In [231]:
empty_set.add('music')
empty_set.add('math')

In [232]:
stem = {'math', 'phys', 'chem', 'bio'}

In [233]:
empty_set.difference(stem)

{'art', 'hist', 'music'}